#menu {
	height:50px;
	background: #0000FF;
}

div#menu li {
	display: block;
	position: relative;
	float: left;
	z-index: 100;
}

ul {
	margin: 0px;
	padding: 0px;
}

li#menu ul {
	display: none;
}
div#menu li a {
	display: block;
	width:210px;
	font-weight:bold;
	font-size: 1.5em;
	color:#FF0040;
	background-color:#0000FF;
	text-align:center;
	padding:12px;
	text-decoration:none;
	text-transform:uppercase;
}
div#menu li a:hover {
	background: #598287;
}
li#menu:hover ul {
	display: block;
	position: absolute;
}
li#menu:hover li {

	float: none;
}
#whole-menu{
	height: 600px;
	width: 1024px;
	Background:#FF0040;
}